# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv_PIC_etchless/

# Environment files
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# EMode stuff
Alberto's magic stuff/emode.eph/
*.eph
*.eph